# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# AL Project specific
.alcache/
.alpackages/
.snapshots/
.output/
*.app
rad.json
*.g.xlf
*.flf
TestResults.xml
node_modules
